*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
  
  }
  body, html, body{
    min-height: 100%;
    height:100%;
    -webkit-font-smoothing: antialiased !important;
    background-color: #f4f4f4
  }
  #root {
    padding: 0 10px;
   
  }
